<div class="row no-gutters no-select align-items-center Py(0.5) col-sm c-font-circular c-bold c-smaller c-light">
  <div class="col" style="max-width: 125px; min-width: 115px">
    <img src="assets/img/svg/ic-logo.svg">
  </div>
  <div class="col d-sm-none d-md-block">
    <div class="row row align-items-center text-center">
      <div class="col-sm-2">
        Community
      </div>
      <div class="col-sm-2">
        Library
      </div>
      <div class="col-sm-2">
        Premium
      </div>
    </div>
  </div>
  <div class="col"></div>
  <div class="row align-items-center">
    <div class="col">
      <div align="right" class="button c-font-circular c-bold c-smaller">Sign Up</div>
    </div>
    <div class="col text-right">
      <span class="Pend(1)">Log In</span>
    </div>
  </div>
</div>
