<div class="row align-items-center P(0.5) c-font-circular c-bold c-smaller c-light flex-nowrap">
  <div class="col strict-width Mstart(1)">
    <img src="assets/img/svg/ic-logo.svg">
  </div>
  <div class="col-6">
    <div class="row row align-items-center text-center no-select strict-width-tab flex-nowrap">
      <div class="col-2">
        Community
      </div>
      <div class="col-2">
        Library
      </div>
      <div class="col-2">
        Premium
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row align-items-center no-select flex-nowrap justify-content-end">
      <div class="col" style="max-width: 150px">
        <div align="right" class="button c-font-circular c-bold c-smaller">Sign Up</div>
      </div>
      <div class="col text-right" style="max-width: 125px">
        <span class="Mend(1)">Log In</span>
      </div>
    </div>
  </div>
</div>
