@import variables

.tab-text
  color: $textColorLight
  &:hover
    // background: $tabHoverColor
    cursor: pointer
    color: $textAccentColor

.tab-mobile
  color: $textColorLight
  &:hover
    background: #fbfcfd
    cursor: pointer
    color: $textAccentColor

.active
  color: #3ba7f7
  background: $tabHoverColor !important
  &:hover
    background: $tabHoverColor !important

.header-shadow-mobile
  box-shadow: 0 12px 20px 2px rgba(0, 0, 0, .06), 0 6px 30px 5px rgba(0, 0, 0, .05), 0 8px 10px -5px rgba(0, 0, 0, .09)

.header-shadow-desktop
  box-shadow: 0 7px 9px 1px rgba(0, 0, 0, .01), 0 3px 10px 2px rgba(0, 0, 0, .01), 0 5px 5px -3px rgba(0, 0, 0, .01)

.search-input
  border: 1px solid $textColorLight
  color: $textColorLight !important
  text-shadow: 0 0 0 $textColor
  -webkit-text-fill-color: transparent
  //min-width: 250px
  height: 46px
  font-size: 16px

.search-input::-webkit-input-placeholder
  text-shadow: none
  -webkit-text-fill-color: initial
  font-weight: 700
  color: #7584A1
.search-input::-moz-placeholder
  font-weight: 700
  color: #7584A1
.search-input:-ms-input-placeholder
  font-weight: 700
  color: #7584A1
.search-input:-moz-placeholder
  font-weight: 700
  color: #7584A1
.search-input::-moz-selection
  background: $textHighlightColor
.search-input::selection
  background: $textHighlightColor

.search-auto-complete-container
  color: $textColor !important
  font-size: 16px
  display: block
  position: absolute
  top: 65px
  background: $colorWhite
  width: 500px
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
  border: 1px solid $tabHoverColor
  z-index: 999
  @media screen and (max-width: 768px)
    min-width: 100% !important
    min-height: 100% !important

.search-auto-complete-container div
  display: block
  float: none
  text-align: left
  &:hover
    background: $tabHoverColor
    cursor: pointer

.search-bar
  background: #F0F1F5
  height: 45px
  width: 500px
  border: solid 2px #F0F1F5
  transition: background 100ms ease
  &:hover
    background: #ecedf1
    cursor: text
  .search-icon
    height: 45px
    width: 100%
    &:hover
      cursor: pointer
      background: $textAccentColor
    &:hover .search-icon-svg
      fill: #FFFFFF
      stroke: #FFFFFF
  .placeholder
    color: #7584A1

@media screen and (min-width: 768px)
  .action-header-tab
    &:hover .active-icon-svg
      fill: #FFFFFF
    &:hover .active-search-icon-svg
      fill: #FFFFFF
      stroke: #FFFFFF
    &:hover
      background: $textAccentColor
      cursor: pointer

.action-enabled-icon-stroke
  fill: #FFFFFF
  stroke: #FFFFFF

.action-enabled-icon
  fill: #FFFFFF

.action-enabled-container
  background: $textAccentColor
  cursor: pointer

.search-bar-input
  padding: 0
  border: 0
  background: transparent
  width: 100%
  height: 45px
  color: $textPlaceholderColor
  font-weight: 700

.search-bar-input::-webkit-input-placeholder
  text-shadow: none
  -webkit-text-fill-color: initial
  font-weight: 700
  color: $textPlaceholderColor
.search-bar-input::-moz-placeholder
  font-weight: 700
  color: $textPlaceholderColor
.search-bar-input:-ms-input-placeholder
  font-weight: 700
  color: $textPlaceholderColor
.search-bar-input:-moz-placeholder
  font-weight: 700
  color: $textPlaceholderColor

// Will affect the search bar when text box is focused
.search-focus
  background: #FFFFFF !important
  //background: #f9fafe !important
.search-bar-input
  color: $textColor

.search-bar-input-focused
  opacity: 0.85
.search-bar-input-focused::-webkit-input-placeholder
  opacity: 0.85
.search-bar-input-focused::-moz-placeholder
  opacity: 0.85
.search-bar-input-focused:-ms-input-placeholder
  opacity: 0.85
.search-bar-input-focused:-moz-placeholder
  opacity: 0.85

.expand
  width: 100%
  height: 100%

.notification-body
  position: absolute
  top: 65px
  right: 0
  width: 400px
  height: 600px
  background: #ffffff
  display: none
  border: 0
  z-index: 999
  @media screen and (max-width: 768px)
    width: 100% !important
    height: 100% !important
    border: solid #dedede 1px

.open-notification-body
  display: flex !important
