@import variables

.strict-width
  max-width: 150px
  min-width: 115px

.strict-width-tab
  max-width: 750px
  min-width: 600px

.tab-text
  height: $navHeaderHeight
  &:hover
    // background: $tabHoverColor
    cursor: pointer
    color: $textAccentColor
