
@import variables

input
  font: 300 18px $fontCircular
  &:focus
    outline: none
input::-webkit-input-placeholder
  text-shadow: none
  -webkit-text-fill-color: initial
  color: $textInputPlaceholderColor
input::-moz-placeholder
  color: $textInputPlaceholderColor
input:-ms-input-placeholder
  color: $textInputPlaceholderColor
input:-moz-placeholder
  color: $textInputPlaceholderColor
input::-moz-selection
  background: $textHighlightColor
input::selection
  background: $textHighlightColor
