.search
  overflow: hidden
  float: right

.search-content
  color: $textColorLight
  display: block
  position: absolute
  background: $colorWhite
  min-width: 400px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3)
  border: 1px solid $tabHoverColor
  z-index: 1

.search-content div
  display: block
  float: none
  text-align: left
  &:hover
    background: $tabHoverColor
    cursor: pointer

