<div [ngClass]="{'open-now-playing-bar': showNowPlayingBar}" class="fixed-bottom elevation-16dp now-playing-bar">
  <div *ngIf="!isLoading">
    <div class="row align-items-center text-center">
      <div class="col-md">
      </div>
      <div class="col">
        <div class="row My(0.5)">
          <div class="col">
            <div (click)="seekPrev()" class="playback-action P(0.25)"><img src="/assets/img/svg/ic-skip-previous.svg">
            </div>
          </div>
          <div class="col">
            <div (click)="toggle()" class="playback-action P(0.25)">
              <img *ngIf="!isPlaying" src="/assets/img/svg/ic-play-arrow.svg">
              <img *ngIf="isPlaying" src="/assets/img/svg/ic-pause.svg">
            </div>
            <!--<div (click)="pause()" class="P(0.25)"></div>-->
          </div>
          <div class="col">
            <div (click)="seekNext()" class="playback-action P(0.25)"><img src="/assets/img/svg/ic-skip-next.svg"></div>
          </div>
        </div>
      </div>
      <div class="col-md">
      </div>
    </div>
    <div class="row align-items-center text-center Mx(1.5)">
      <div class="col">
        <div class="c-font-circular c-accent-color c-smaller c-bold">{{video.videoInfo.title}}</div>
      </div>
    </div>
    <div class="row align-items-center text-center Mt(0.5)">
      <div class="col">
        <div class="c-font-circular c-accent-color c-small c-bold" style="opacity: 0.5;">{{timer}} / {{duration}}
        </div>
      </div>
    </div>
    <div class="row align-items-center text-center">
      <div class="col-md"></div>
      <div class="col">
        <div class="playback-seek-bar Mx(1)">
          <div [ngStyle]="{'width': progress + '%'}" class="playback-seek-bar-progress"></div>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
  </div>
</div>
