@import variables

.header-shadow-mobile
  box-shadow: 0 12px 20px 2px rgba(0, 0, 0, .06), 0 6px 30px 5px rgba(0, 0, 0, .05), 0 8px 10px -5px rgba(0, 0, 0, .09)

.header-shadow-desktop
  box-shadow: 0 7px 9px 1px rgba(0, 0, 0, .01), 0 3px 10px 2px rgba(0, 0, 0, .01), 0 5px 5px -3px rgba(0, 0, 0, .01)

.notification-body
  position: absolute
  top: 65px
  right: 0
  min-height: 500px
  background: #ffffff
  width: 400px
  border: 0
  z-index: 999
  display: none
  transition: opacity 100ms ease
  will-change: opacity
  //border: solid 1px #eeeeee
  @media screen and (max-width: 768px)
    //width: 100% !important
    //height: 100% !important
    height: -webkit-calc(100% - 65px)
    height:    -moz-calc(100% - 65px)
    height:         calc(100% - 65px)
    // border: solid #dedede 1px

.open-notification-body
  display: flex

.subscription-text
  letter-spacing: 0

.loading-container
  opacity: 0
  transition: opacity 100ms ease

.fade-in-load
  opacity: 1

.link-test
  &:hover
    cursor: pointer
    color: #3890dc

.truncate-single-line
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.hover-state
  //border: solid 1px #ffffff
  &:hover
    //border: solid 1px #dedede

.notification-action
  fill: #CED3DE
  transition: fill 100ms ease

.notification-container
  &:hover
    cursor: pointer
  &:hover .notification-action
    fill: #EAECF1
    cursor: pointer
  &:active .notification-action
    fill: #3890dc
