<!-- NOTIFICATION -->
<div class="notification-body header-shadow-mobile" [ngClass]="{'open-notification-body': open}">
  <div class="container mx-3">
    <div class="row my-4">
      <div class="col d-flex align-items-center justify-content-start">
        &nbsp;
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <span class="c-font-circular c-light c-bold c-smaller">Subscriptions</span>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <span class="c-font-circular c-accent-color c-small">Manage</span>
      </div>
    </div>
    <div class="row my-4">
      <div class="col d-flex align-items-center justify-content-center">
        <span class="c-font-circular c-accent-color c-smaller">View All</span>
      </div>
    </div>
  </div>
</div>

