<!-- NOTIFICATION -->
<div class="notification-body header-shadow-mobile" [ngClass]="{'open-notification-body': open}">
  <div class="container">
    <div class="row mt-4 mb-4">
      <div class="col d-flex align-items-center justify-content-start">
        <!--&nbsp;-->
        &nbsp;<span *ngIf="showManageSubs" class="c-font-circular c-accent-color c-smaller link-test" (click)="showSubscriptions()">&lt;</span>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <span class="c-font-circular c-light c-bold c-smaller">Subscriptions</span>
      </div>
      <div class="col d-flex align-items-center justify-content-end mr-3">
        &nbsp;<div *ngIf="!showManageSubs" class="c-font-circular c-accent-color c-smaller link-test" (click)="showSubscriptionManager()">Manage</div>
      </div>
    </div>
    <div *ngIf="loaded && !showManageSubs && notificationKeys(notificationGroups).length > 0" class="row loading-container" [ngClass]="{'fade-in-load': fadeIn}">
      <div class="col">
        <div *ngFor="let key of notificationKeys(notificationGroups)">
          <app-notification-group (selected)="selected()" [groupTitle]="key" [groupVideos]="notificationGroups[key]"></app-notification-group>
        </div>
      </div>
    </div>
    <div *ngIf="loaded && !showManageSubs && notificationKeys(notificationGroups).length > 0"
         class="row loading-container my-4" [ngClass]="{'fade-in-load': fadeIn}">
      <div class="col d-flex align-items-center justify-content-center">
        <span class="c-font-circular c-accent-color c-smaller">View All</span>
      </div>
    </div>

    <div *ngIf="loaded && !showManageSubs && notificationKeys(notificationGroups).length === 0"
         class="container loading-container" [ngClass]="{'fade-in-load': fadeIn}">
      <div class="row h-100 mt-5">
        <div class="col d-flex align-items-center justify-content-center">
          <span class="c-font-circular c-light text-center c-smaller">Nice.<br/>You&rsquo;re all caught up.</span>
        </div>
      </div>
    </div>

    <div *ngIf="loaded && showManageSubs && subscriptions.length > 0" class="container loading-container"
         [ngClass]="{'fade-in-load': fadeIn}">
      <div class="row h-100 py-4 hover-state" style="width:100%;" *ngFor="let subscription of subscriptions">
        <div class="col-auto d-flex align-items-center justify-content-center">
          <img width="68" height="68" [src]="subscription.channel.avatarUrl" style="border-radius: 50%; border: solid 1px #3d3d3d;"/>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
          <span class="c-font-circular c-light c-bold text-center c-small">{{subscription.channel.name}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="loaded && showManageSubs && subscriptions.length === 0" class="container loading-container"
         [ngClass]="{'fade-in-load': fadeIn}">
      <div class="row h-100 mt-5">
        <div class="col d-flex align-items-center justify-content-center">
          <span class="c-font-circular c-light text-center c-smaller">Not great.<br/>You don&rsquo;t have any Subscriptions.</span>
        </div>
      </div>
    </div>


    <div *ngIf="!loaded">
      <div class="row h-100 mt-5">
        <div class="col d-flex align-items-center justify-content-center">
          <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#39a0ed">
            <g fill="none" fill-rule="evenodd">
              <g transform="translate(1 1)" stroke-width="2">
                <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                <path d="M36 18c0-9.94-8.06-18-18-18">
                  <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s"
                                    repeatCount="indefinite"/>
                </path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>

  </div>
</div>

