<!-- NOTIFICATION -->
<div class="notification-body header-shadow-mobile" [ngClass]="{'open-notification-body': open}">
  <div *ngIf="loaded && notificationGroups && notificationKeys(notificationGroups).length > 0" class="container loading-container" [ngClass]="{'fade-in-load': fadeIn}">
    <div class="row mt-4 mb-1">
      <div class="col d-flex align-items-center justify-content-start">
        &nbsp;
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <span class="c-font-circular c-light c-bold c-smaller">Subscriptions</span>
      </div>
      <div class="col d-flex align-items-center justify-content-end mr-3">
        <span class="c-font-circular c-accent-color c-smaller">Manage</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div *ngFor="let key of notificationKeys(notificationGroups)">
          <app-notification-group [groupTitle]="key" [groupVideos]="notificationGroups[key]"></app-notification-group>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col d-flex align-items-center justify-content-center">
        <span class="c-font-circular c-accent-color c-smaller">View All</span>
      </div>
    </div>
  </div>
  <div *ngIf="loaded && notificationGroups && notificationKeys(notificationGroups).length === 0" class="container loading-container" [ngClass]="{'fade-in-load': fadeIn}">
    <div class="row h-100">
      <div class="col d-flex align-items-center justify-content-center">
        <span class="c-font-circular c-light text-center c-smaller">Nice.<br/>You&rsquo;re all caught up.</span>
      </div>
    </div>
  </div>
  <div *ngIf="!loaded" class="container loading-container" [ngClass]="{'fade-in-load': loading}">
    <div class="row h-100">
      <div class="col d-flex align-items-center justify-content-center">
        <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#39a0ed">
          <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="2">
              <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
              <path d="M36 18c0-9.94-8.06-18-18-18">
                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
              </path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>

