@import variables

.playlist-card
  opacity: 1
  transition: opacity, transform 100ms ease
  min-width: 150px
  max-width: 550px
  overflow: hidden
  max-height: 90px
  &:hover .thumbnail
    opacity: 0.9
  &:hover .title-text
    opacity: 0.7
  &:hover .subtitle
    opacity: 0.7
  &:hover .playlist-icon-close
    visibility: visible
  &:hover
    cursor: pointer
  .title
    color: $secondaryBtnColor !important
  .subtitle
    color: $textColorLight

.now-playing
  transform: scale(1)
  &:hover
    transform: scale(1)

.now-loading .thumbnail
  opacity: 0.7
.now-loading .title-text
  opacity: 0.7
.now-loading .subtitle
  opacity: 0.7

.sub-title-op
  opacity: 0.3 !important

.play-icon
  visibility: hidden
  color: white
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.thumbnail-container
  background-color: white
  max-width: 160px
  height: 90px
  width: 160px

.thumbnail
  height: 90px
  width: 160px

.playlist-icon-close
  visibility: hidden
  &:hover
    opacity: 0.8
