<div class="queue-card--item Pstart(0.5) Py(0.25)" (click)="select()">
  <div class="flex-box">
    <!--<img class="image" [src]="video.thumbnail.thumbnails[0].url"/>-->
    <div style="width:2px;height:100%;background:#cccccc;"></div>
    <div class="body Px(1)">
      <div class="title t-smaller t-regular">{{video.title}}</div>
      <div class="Pt(0.25)"></div>
      <div class="t-small">{{video.owner}}</div>
      <div class="Pt(0.25)"></div>
      <div class="t-small t-light">Added {{lastUpdated | amTimeAgo:true}} ago</div>
      <div class="t-small t-light">{{video.status || 'Unknown Status'}}</div>
    </div>
  <div id="control" style="align-self: start">
    <img appClickStopPropagation id="delete" class="control-item P(0.5)" src="/assets/svg/ic_clear_black_24px.svg" (click)="delete()"/>
  </div>
  </div>
</div>

