<div [ngClass]="{'open-now-playing-bar': showNowPlayingBar}" class="fixed-bottom elevation-16dp now-playing-bar">
  <div *ngIf="!isLoading">
    <div class="row d-flex align-content-center justify-content-center text-center My(0.5)">
        <div class="col">
          <img (click)="seekPrev()" class="playback-action" src="/assets/img/svg/ic-skip-previous.svg">
        </div>
        <div class="col">
          <div (click)="toggle()" class="playback-action">
            <img *ngIf="!isPlaying" src="/assets/img/svg/ic-play-arrow.svg">
            <img *ngIf="isPlaying" src="/assets/img/svg/ic-pause.svg">
          </div>
        </div>
        <div class="col">
          <img (click)="seekNext()" class="playback-action" src="/assets/img/svg/ic-skip-next.svg">
        </div>
    </div>
    <div class="row align-items-center text-center Mx(1.5)">
      <div class="col">
        <div class="c-font-circular c-accent-color c-small truncate Px(1.5)">{{video.title}}</div>
      </div>
    </div>
    <div class="row align-items-center text-center Mx(1.5)">
      <div class="col">
        <div class="c-font-circular c-accent-color c-small truncate Px(1.5)" style="opacity: 0.5;">{{video.owner}}</div>
      </div>
    </div>
    <div class="row align-items-center text-center no-gutters mt-1 Px(0.5)">
      <div class="col text-left Mstart(1)" style="max-width:35px;min-width:35px;"><div class="c-font-circular c-accent-color c-small" style="opacity: 0.8;">{{timer}}</div></div>
      <div class="col">
        <div class="playback-seek-bar">
          <div [ngStyle]="{'width': progress + '%'}" class="playback-seek-bar-progress"></div>
        </div>
      </div>
      <div class="col text-right Mend(1)" style="max-width:35px;min-width:35px;"><div class="c-font-circular c-accent-color c-small" style="opacity: 0.8;">{{duration}}</div></div>
    </div>
  </div>
</div>
