<div [ngClass]="{'open-now-playing-bar': showNowPlayingBar}" class="fixed-bottom elevation-16dp now-playing-bar">
  <div *ngIf="!isLoading">
    <div class="row d-flex align-content-center justify-content-center text-center My(0.5)">
        <div class="col">
          <img (click)="seekPrev()" class="playback-action" src="/assets/img/svg/ic-skip-previous.svg">
        </div>
        <div class="col">
          <div (click)="toggle()" class="playback-action">
            <img *ngIf="!isPlaying" src="/assets/img/svg/ic-play-arrow.svg">
            <img *ngIf="isPlaying" src="/assets/img/svg/ic-pause.svg">
          </div>
          <!--<div (click)="pause()" class="P(0.25)"></div>-->
        </div>
        <div class="col">
          <img (click)="seekNext()" class="playback-action" src="/assets/img/svg/ic-skip-next.svg">
        </div>
    </div>
    <div class="row align-items-center text-center Mx(1.5)">
      <div class="col">
        <div class="c-font-circular c-accent-color c-small truncate Px(1.5)">{{video.title}}</div>
      </div>
    </div>
    <!--<div class="row align-items-center text-center">-->
      <!--<div class="col">-->
        <!--<div class="c-font-circular c-accent-color c-small" style="opacity: 0.5;">{{timer}} / {{duration}}-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row align-items-center text-center no-gutters Mt(0.25) Px(0.5)">
      <div class="col text-right Mend(0.5)" style="max-width:45px;min-width:40px;"><div class="c-font-circular c-accent-color c-small" style="opacity: 0.5;">{{timer}}</div></div>
      <div class="col">
        <div class="playback-seek-bar">
          <div [ngStyle]="{'width': progress + '%'}" class="playback-seek-bar-progress"></div>
        </div>
      </div>
      <div class="col text-left Mstart(0.5)" style="max-width:45px;min-width:40px;"><div class="c-font-circular c-accent-color c-small" style="opacity: 0.5;">{{duration}}</div></div>
    </div>
  </div>
</div>
