<div class="row no-gutters">
  <div class="col Mx(1) order-1 order-md-2">
    <div class="d-none d-md-block c-light text-left c-smaller Pb(0.5)">Search Results</div>
    <app-search-card *ngFor="let video of videoList" (added)="handleAddToCurrentPlaylist($event)" (press)="handleAddToCurrentPlaylist(video)" (selected)="handleVideoSelect($event)" [video]="video"></app-search-card>
    <div class="d-block d-md-none Mb(1)"></div>
  </div>

  <div class="col-md Mx(1) order-3">
    <div class="d-block d-md-none My(1)"></div>
    <div class="d-none d-md-block c-light text-left c-smaller">Playlists</div>
    <div class="row no-gutters Mt(0.25) d-flex flex-nowrap justify-content-center">
      <div *ngFor="let playlist of playlists" class="col d-flex align-items-center justify-content-center playlist-icon-col" (click)="setPlaylistActive(playlist)">
        <div class="playlist-icon" [ngClass]="{'playlist-active': currentPlaylist.uuid === playlist.uuid}" [style.background]="'#' + playlist.iconColor"></div>
      </div>
    </div>
    <div *ngIf="playlistLoading" class="help-text">
      <div class="c-font-circular c-smaller c-light Py(2)">Loading...</div>
    </div>
    <div *ngIf="!currentPlaylist.videos && !playlistLoading" class="help-text">
      <div class="c-font-circular c-smaller c-light Py(2)">Select a playlist above.</div>
    </div>
    <div *ngIf="currentPlaylist.videos && !playlistLoading">
      <smooth-dnd-container [lockAxis]="'y'" (drop)="handlePlaylistVideoSort($event)">
        <smooth-dnd-draggable *ngFor="let video of currentPlaylist.videos">
          <app-playlist-card (removed)="handleRemoveFromPlaylist($event)" (selected)="handleVideoSelect($event)" [color]="currentPlaylist.iconColor" [video]="video"></app-playlist-card>
        </smooth-dnd-draggable>
      </smooth-dnd-container>
    </div>
    <div *ngIf="currentPlaylist.videos && currentPlaylist.videos.length === 0 && !playlistLoading" class="help-text">
      <div class="c-font-circular c-smaller c-light Py(2)">No videos in this playlist. Try adding some.</div>
    </div>
    <!--<div class="row no-gutters dashed-border no-select align-content-center Mt(2)">-->
      <!--<div class="col" style="align-self: center">-->
        <!--<div class="row no-gutters align-content-center">-->
          <!--<div class="col">-->
            <!--<div class="c-font-circular c-bold c-smaller">Add Videos Here</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="d-block d-md-none My(1.5)"></div>
  </div>
  <div class="col-md Mx(1) order-2 order-md-1">
    <div class="d-none d-md-block c-light text-left c-smaller Pb(0.5)">Recommended For You</div>
    <app-search-card *ngFor="let video of recommendedList" (press)="handleAddToCurrentPlaylist(video)" (added)="handleAddToCurrentPlaylist($event)" (selected)="handleRecommendedVideoSelect($event)" [video]="video"></app-search-card>
  </div>
</div>
