@import variables

.text-box
  border: 2px solid $primaryBtnColor
  color: $primaryBtnColor !important
  border-radius: 100px
  padding: 10px 17px
  text-shadow: 0 0 0 $primaryBtnColor
  -webkit-text-fill-color: transparent

.header-search-box
  @extend .text-box
  padding: 0 15px
  margin: 0 15px
  width: 300px
  height: 40px
  font-size: 14px
