<div *ngIf="showLoader" class="Mt(3)">
  <app-loader></app-loader>
</div>
<div *ngIf="!showLoader">
  <div class="content" style="padding-bottom:110px">
    <div class="flex-box Py(1)">
      <div class="search">
        <form name="search" (submit)="handleSubmitSearch(searchQuery)" >
          <input [(ngModel)]="searchQuery"
                 (ngModelChange)="handleAutoCompleteLookup(searchQuery)"
                 name="q"
                 class="header-search-box c-font-circular c-bold"
                 placeholder=""
                 autocorrect="off"
                 autocapitalize="off"
                 spellcheck="false"
                 autocomplete="off"
                 placeholder="Search"
                 #searchInput/>
          <button type="submit" style="display:none">hidden submit</button>
        </form>
        <div *ngIf="showPredictionsContainer" class="search-content">
          <div *ngFor="let prediction of predictions" (click)="handleSubmitSearch(prediction)">
            <div class="Px(1) Py(0.5) t-regular2">{{prediction}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-box text-center">

    </div>
    <div class="flex-box">
      <div [ngSwitch]="videoList.length > 0" class="results-container Pt(0.25)">
        <div class="flex-box">
          <div *ngSwitchCase="true">
            <app-search-card class="item" *ngFor="let video of videoList; let i = index" (selected)="handlePredictionSelect($event, i)" [video]="video" [nowPlaying]="activeComponent === i"></app-search-card>
          </div>
          <div *ngSwitchCase="false">
            <app-loader></app-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'open-play-footer': this.togglePlayFooter}" class="fixed-bottom elevation-8dp play-footer">
  <div class="row align-items-center h-100">
    <div class="col">
      <div class="c-font-circular c-smaller c-regular">Video Info Here</div>
    </div>
  </div>
</div>
