<div class="search-card" [ngClass]="{'now-playing': nowPlaying, 'now-loading': nowLoading}" (click)="selectContent(video)">
  <div class="row flex-nowrap no-gutters align-items-start">
    <div class="col thumbnail-container">
        <img class="thumbnail" src="{{video.thumbnailUrl}}"/>
        <div class="loading-icon"><img src="assets/img/svg/ic-video-loading.svg"/></div>
        <div class="play-icon"><img src="assets/img/svg/ic-large-play-arrow.svg"/></div>
        <div class="duration-badge">{{video.duration}}</div>
    </div>
    <div class="col" style="min-width: 100px;">
        <div class="text-left c-font-circular c-small c-light title-text Mstart(0.5) mt-1" [ngClass]="{'c-accent-color': nowPlaying, 'c-color': !nowPlaying}" style="max-height: 90px !important">
          <div class="title truncate-double-line">{{video.title}}</div>
          <div class="Pt(0.25)"></div>
          <div class="subtitle-owner c-smallest truncate-single-line" [ngClass]="{'c-accent-color sub-title-op': nowPlaying}">{{video.owner}}</div>
          <div class="subtitle c-smallest truncate-single-line" [ngClass]="{'c-accent-color sub-title-op': nowPlaying}">{{video.publishedTimeAgo}}</div>
          <div class="subtitle c-smallest truncate-single-line" [ngClass]="{'c-accent-color sub-title-op': nowPlaying}">{{video.viewCount}} <span class="label c-bold" *ngIf="video.new">New</span></div>
        </div>
    </div>
    <div class="col align-self-start play-icon-active d-none d-md-block Mt(0.25)" style="max-width:35px;">
      <img style="width:15px;height:12px;" src="/assets/img/svg/ic-sound-active.svg">
    </div>
    <!--<div class="col align-self-center d-none d-md-block" style="max-width:20px;" (click)="addedContent($event, video)">-->
      <!--<div class="text-center">-->
        <!--<div *ngFor="let playlist of video.addedByPlaylists">-->
          <!--<div class="playlist-icon" [style.background]="'#' + playlist.iconColor"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col d-none d-lg-flex align-self-center justify-content-center playlist-icon-add Py(0.75)" style="max-width:45px;border-radius:50%;" (click)="addedContent($event, video)">-->
      <!--<img style="width:19px;height:19px;" src="/assets/img/svg/ic-plus-playlist.svg">-->
    <!--</div>-->
  </div>
</div>
