<div class="search-card Py(0.25)" [ngClass]="{'now-playing': nowPlaying, 'now-loading': nowLoading}" (click)="selectContent(video)">
  <div class="row no-gutters align-items-center">
    <div class="col">
        <img class="image Mend(0.5) float-left" [src]="video.thumbnailUrl"/>
        <div class="text-left c-font-circular c-smaller Mt(0.25)" [ngClass]="{'c-secondary-accent-color': nowPlaying, 'c-color': !nowPlaying}" style="max-height: 90px !important">
          <div>{{video.title}}</div>
          <div class="Pt(0.25)"></div>
          <div class="subtitle-color c-light" [ngClass]="{'c-secondary-accent-color sub-title-op': nowPlaying}">{{video.owner}}</div>
          <div class="subtitle-color c-light" [ngClass]="{'c-secondary-accent-color sub-title-op': nowPlaying}">{{video.publishedTimeAgo}}</div>
        </div>
    </div>
    <!--<div class="col-md-1">-->
      <!--<div class="indicator Mstart(0.25)"><img src="/assets/img/svg/ic-plus-playlist.svg"></div>-->
    <!--</div>-->
  </div>
</div>
