<div class="search-card Py(0.25)" (click)="selectContent(video)">
  <div class="row no-gutters align-items-center">
    <div class="col">
        <img class="image Mend(0.5) float-left" [src]="thumbnail"/>
        <div class="text-left Mt(0.25)" style="max-height: 90px !important">
          <div class="c-font-circular text-truncate c-smaller c-light c-secondary-accent-color" [ngClass]="{'title-color': nowPlaying}">{{title}}</div>
          <div class="Pt(0.25)"></div>
          <div class="c-font-circular text-truncate c-smaller c-light subtitle-color">{{owner}}</div>
          <div class="c-font-circular text-truncate c-smaller c-light subtitle-color">{{publishTimeAgo}}</div>
        </div>
    </div>
    <!--<div class="col-md-1">-->
      <!--<div class="indicator Mstart(0.25)"><img src="/assets/img/svg/ic-plus-playlist.svg"></div>-->
    <!--</div>-->
  </div>
</div>
