@import variables

.search-card
  opacity: 1
  transform: scale(1)
  &:hover
    transform: scale(1)
  transition: opacity, transform 100ms ease
  min-width: 150px
  max-width: 550px
  overflow: hidden
  &:hover .indicator
    visibility: visible
  &:hover
    cursor: pointer
  .image
    height: 90px
    width: 160px
  .title-color
    color: $secondaryBtnColor !important
  .subtitle-color
    color: $textColorLight
  .indicator
    visibility: hidden
    transition: transform 0.075s ease
    transform-origin: center
    transform-style: preserve-3D
    &:hover
      transform: scale(1)

.now-playing
  transform: scale(1)
  &:hover
    transform: scale(1)

.now-loading
  opacity: 0.2 !important

.sub-title-op
  opacity: 0.3 !important
