<div class="row dashed-border no-select">
  <div class="col">
    <div class="row Py(1.5)">
      <div class="col text-right">
        <div class="c-font-circular c-bold c-light Py(0.25)">Drag files you want to convert here</div>
      </div>
      <div class="col Mstart(1)">
        <div class="secondary-button c-font-circular c-bold c-smaller" (click)="onUpload()">Upload files</div>
      </div>
    </div>
  </div>
</div>
<div class="row Py(1)">
  <div class="col">
    <app-tile>
      <div class="row">
        <div class="col align-content-center text-center">
          <img style="padding: 92px 0" src="assets/img/svg/ic-plus.svg">
        </div>
      </div>
    </app-tile>
  </div>
  <div class="col">
    <app-tile [title]="'Gagnum Style [Official Video]'" [conversionFrom]="'MP3'" [conversionTo]="'AAC'"></app-tile>
  </div>
  <div class="col">
    <app-tile [title]="'Green Day - When I Come Around'" [conversionFrom]="'WAV'" [conversionTo]="'OGG'"></app-tile>
  </div>
  <div class="col">
    <app-tile [title]="'Good Charlotte - The Anthem'" [conversionFrom]="'OGG'" [conversionTo]="'FLAC'"></app-tile>
  </div>
</div>
