<div (click)="openModal(template)" style="margin-left:auto;margin-right:auto;"
     class="button c-font-circular c-bold c-smaller">Open Modal
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="c-font-avenir c-color c-bold c-font-avenir c-normal pull-left Pt(0.5)">Convert File</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row Pb(1)">
      <div class="col">
        <div class="text-center c-font-avenir c-accent-color c-bold c-smaller">You’re about to add a new audio file to
          convert. What format would you like to convert it to?
        </div>
      </div>
    </div>
    <div class="row Py(1)">
      <div class="col">
        <ng-dropdown [selected]="1" [options]="options" (onchange)="changeValue($event)"></ng-dropdown>
      </div>
    </div>
    <div class="row Py(1)">
      <div class="col">
        <div (click)="closeModal()" style="margin-left:auto;margin-right:auto;"
             class="button c-font-circular c-bold c-smaller">Close Modal
        </div>
      </div>
    </div>
  </div>

</ng-template>

<file-drop [customstyle]="''" (onFileDrop)="addDroppedFile($event)" [class.over]="'hover-over'">
  <!--(onFileOver)=" " (onFileLeave)=" "-->
  <div class="row dashed-border no-select Py(0.75)">
    <div class="col">
      <div class="row Mb(0.5)">
        <div class="col">
          <input type="file" name="file" id="file1" class="input-file" (change)="addPickedFile(fileUpload1.files)"
                 #fileUpload1/>
          <label class="secondary-button c-font-circular c-bold c-smaller force-center" for="file1">Upload a
            file</label>
        </div>
      </div>
      <div class="row Mt(0.5)">
        <div class="col">
          <div class="c-font-circular c-small c-bold c-light force-center">Drag files you want to convert here</div>
        </div>
      </div>
    </div>
  </div>
</file-drop>
<div class="row Mb(2)">
  <div class="col">
    <input type="file" name="file" id="file2" class="input-file" (change)="addPickedFile(fileUpload2.files)"
           #fileUpload2/>
    <label for="file2">
      <app-tile class="add-conversion">
        <div class="row">
          <div class="col">
            <img style="padding: 92px 0" src="assets/img/svg/ic-plus.svg">
          </div>
        </div>
      </app-tile>
    </label>
  </div>
  <div *ngFor="let tile of metadataList" class="col">
    <app-tile [title]="tile.title" [conversionFrom]="tile.conversionFrom" [conversionTo]="tile.conversionTo">
      <div [ngSwitch]="tile.uploadComplete === true">
        <div *ngSwitchCase="false">
          <div class="row Pt(1.5)">
            <div class="col">
              <circle-progress
                [percent]="tile.incrementValue"
                [radius]="65"
                [space]="-10"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#13c4a3'"
                [innerStrokeColor]="'#fafafa'"
                [showInnerStroke]="true"
                [animation]="false"
                [showUnits]="true"
                [showBackground]="false"
                [showSubtitle]="false"
                [units]="'%'"
                [unitsFontSize]="26"
                [titleFontSize]="26"
                [titleColor]="'#4c6085'"
                [subtitleColor]="'#4c6085'"
                [unitsColor]="'#4c6085'"
              ></circle-progress>
            </div>
          </div>
          <!--<div class="row">-->
          <!--<div class="col">-->
          <!--<div style="margin-left:auto;margin-right:auto;" class="c-light c-smaller"-->
          <!--(click)="increment(tile.uuid)">Converting-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
        <div *ngSwitchCase="true">
          <div class="row My(1)">
            <div class="col">
              <div class="c-light c-smaller"><img src="assets/img/svg/ic-check.svg"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div style="margin-left:auto;margin-right:auto;" class="button c-font-circular c-bold c-smaller">Download
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-tile>
  </div>
</div>

