@import variables

.dashed-border
  border: 3px dashed $textColorLight
  border-radius: 8px
  height: 100px
  width: 100%

.add-conversion
  &:hover
    cursor: pointer

.over
  background-color: #13b696
