@import styles/foundation/functions
@import styles/foundation/variables
@import styles/foundation/typography
@import styles/foundation/height
@import styles/foundation/width
@import styles/foundation/margin
@import styles/foundation/padding
@import styles/atoms/buttons
@import styles/atoms/inputs

html, body
  font-family: $fontAvenir !important
  -webkit-font-smoothing: antialiased !important
  -moz-osx-font-smoothing: grayscale !important
  font-smoothing: antialiased !important
  font-smooth: always !important

html
  height: 100%
  overflow: scroll
  overflow-x: hidden
::-webkit-scrollbar
  width: 0
  background: transparent
::-webkit-scrollbar-thumb
  background: #ebebeb

body
  position: relative
  min-height: 100%
  -webkit-overflow-scrolling: touch

.caret
  &::after
    content: url("/assets/img/svg/ic-expand-more.svg")
    text-align: center
    pointer-events: none

.modal-dialog
  max-width: 50rem !important

.modal-content
  border-radius: .75rem !important
  border: 0 !important
  .modal-header
    border-bottom: none
  .modal-body
    padding: 3rem !important
    margin-left: auto
    margin-right: auto
    padding-top: 0 !important

.no-outline
  &:focus
    outline: 0
