@import variables

.header-shadow-mobile
  box-shadow: 0 12px 20px 2px rgba(0, 0, 0, .06), 0 6px 30px 5px rgba(0, 0, 0, .05), 0 8px 10px -5px rgba(0, 0, 0, .09)

.header-shadow-desktop
  box-shadow: 0 7px 9px 1px rgba(0, 0, 0, .01), 0 3px 10px 2px rgba(0, 0, 0, .01), 0 5px 5px -3px rgba(0, 0, 0, .01)

.search-auto-complete-container
  max-width: 100%
  width: 100% !important
  border: 1px solid $tabHoverColor
  background: $colorWhite
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
  text-align: left
  @media screen and (min-width: 768px)
    width: 500px

.search-auto-complete-container div
  &:hover
    background: $tabHoverColor
    cursor: pointer

