@import variables

.notification-header
  z-index: 999
  color: $colorLightCream
  height: 100%
  max-height: 0
  overflow: hidden
  -webkit-transition: max-height 0.09s ease
  transition: max-height 0.09s ease

.open-notification-header
  max-height: 40px

.error-red
  background: #EF5350 // Error Red

.warning-orange
  background: #F9A825 // Warning Orange

.success-green
  background: #66BB6A // Success Green
